body {
    font-family: Helvetica, sans-serif;
    background-color: #EBF2FA;
    margin: 0;
}

/* Nav bar styles */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #064789;
    padding: 4px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-header:hover {
    background-color: #0b578d;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Logo styles */
.nav-header .logo {
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}

.nav-header .logo img {
    height: 60px;
    margin-right: 15px;
}

.nav-header .logo h1 {
    color: #EBF2FA;
    font-size: 2rem;
    letter-spacing: 2px;
    transition: color 0.3s;
}

.nav-header .logo:hover img {
    transform: rotate(360deg);
}

/* Sign in/up otions styles */
.auth-options {
    font-weight: bold;
    display: flex;
    gap: 15px;
}

.auth-options a {
    color: #EBF2FA;
    text-decoration: none;
    font-size: 16px;
}

.auth-options a:hover {
    text-decoration: underline;
}

/* Sign in box styles */
.sign-in-box {
    width: 75%;
    padding: 20px;
    background-color: #427AA1;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 150px auto;
    position: relative;
    box-sizing: border-box;
    height: 400px;
}

.left-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #EBF2FA;
    text-align: left;
}

.right-text {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #EBF2FA;
    text-align: right;
}

/* Input in container styles */
.input-container {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 360px;
    background-color: #f0f4f8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(100%);
    opacity: 0;
}

.sign-in-form.active,
.sign-up-form.active {
    transform: translateX(0);
    opacity: 1;
}

.sign-in-form.hidden,
.sign-up-form.hidden {
    transform: translateX(100%);
    opacity: 0;
    display: none;
}

/* Button styles */
.sign-in-button {
    width: auto;
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 10px;
    height: 50px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Account creation button styles */
.create-account {
    grid-column: span 2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #427AA1;
    color: white;
    cursor: pointer;
}

.upload-box {
    grid-column: span 2;
    display: flex;
    align-items: center;
}

input::placeholder {
    color: #A9A9A9;
}

/* Slide out animation */
.slide-out {
    animation: slideOut 0.7s forwards;
}

/* Keyframes for slide out animation */
@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}